# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/gradle/
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/config/
/logs/
/saves/
/options.txt
/usercache.json
/usernamecache.json
/eula.txt
/world/
/banned-ips.json
/banned-players.json
/ops.json
/server.properties
/servers.dat
/whitelist.json
/crash-reports/
/screenshots/
/mods/
